@import url(font-awesome.css);
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

.iconpicker .iconpicker-item {
    border-radius: 3px;
    box-shadow: 0 0 0 1px #ddd;
    color: inherit;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 14px;
    margin: 0 12px 12px 0;
    padding: 12px;
    text-align: center;
    width: 14px;
}

.iconpicker * {
    box-sizing: content-box;
    position: relative;
}

tr.issue td.id:before{
    content: "\f096";
    font-size: 12px;
    margin-right: 3px;
    transform: translate(0px, 0px);
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    display: inline-block;
    font-family: FontAwesome;
    line-height: 10px;
    padding-left: 10px;

}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group-vertical > .btn, .btn-group > .btn {
    float: left;
    position: relative;
}
.iconpicker-component {
    cursor: pointer;
}

.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu.iconpicker-container {
    padding: 0;
}
tr.issue.tracker-1 td.id:before{
    content: "\f188";
    color: red;
}
tr.issue.tracker-2 td.id:before{
    content: "\f0fe";
    color: limegreen;
}
tr.issue.tracker-3 td.id:before{
    content: "\f059";
    color: cornflowerblue;
}
